body{
    margin:0;
    padding: 0;
}
nav{
    background-color: rgb(31, 136, 196);
    padding: 15px;
    margin: 0;
    text-align: left ;
}
.nav a {
    padding: 5px 10px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
    text-transform: uppercase; 
    transition: color 0.3s,background-color 0.3s;
}
.logo {
    margin-right: auto;
    front: size 22px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.enamor{
 height: 50px;
 width: 220px;
 margin-right: 220px;
}
.nav input {
    padding: 5px 10px;
    height: 30px;
    width: 220px;

    border: 1px solid #ccc;
    border-radius: 4px;

    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: medium;

    background-color: rgb(255, 255, 255);
    outline: none;

}

.nav input:hover{
    background-color: pink;
    height: 60px;
    width: 200px;
    transition: 1s;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.container{
    display: grid;
    grid gap: 30px;
    grid-template-columns:400px 400px 400px;
    
}
.image1{ 
    border: 2px solid black;
    width: 200px;
    padding: 20px;
    background-color: azure;
    border-radius: 20px;
}
.image1 button{
    height: 30px;
    width: 160px;
    background-color: rgb(42, 135, 185);
    border: none;
    border: radius 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: medium;

}div
.image2{
    border: 2px solid black;
    width: 200px;
    padding: 20px;
    background-color: azure;
    border-radius: 20px;
}
.image2 button{
    height: 30px;
    width: 160px;
    background-color: rgb(42, 135, 185);
    border: none;
    border: radius 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: medium;

} footer{
    background-color: #131921;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}